

.home{
    display:flex;
    flex-direction: column;
}
header{
    align-self: center;
}
.headSearch{
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.searchGrid{
    display:grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns:repeat(auto-fill,250px);
    grid-template-rows:repeat(auto-fill,250px);
    grid-gap: 1em;
} 
.recentSearchesList{

align-self: center;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}
.recentItem{
    text-align: center;
    line-height: 3em;
 background-color: #eff4ff;
    width: 50%;
    height: 3em;
    border: 0.5px solid black;
    margin-top: 1%;
   
}
.images{

    height: 100%;
    width:100%;
}

.imagesSrc{
    height: 100%;
    width: 100%;

}
.inputSearchcss{
    height: 2em;
    box-shadow: grey 2px 2px;
    margin-right: 1em;
}
.inputSearchcssError{
    margin-right: 1em;

border:1px solid red;

}
.inputSearchcssError:hover{
    box-shadow: grey 2px 2px;
    border: 1px solid black;
    
    }
    .recentSearches{
        align-self: center;
    }